@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9026 0.0154 17.4429);
  --foreground: oklch(0.4712 0 0);
  --card: oklch(0.9222 0.0494 116.0761);
  --card-foreground: oklch(0.4712 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4712 0 0);
  --primary: oklch(0.5880 0.0891 15.4873);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7106 0.0363 249.6927);
  --secondary-foreground: oklch(0.3211 0 0);
  --muted: oklch(0.8003 0.0348 265.1845);
  --muted-foreground: oklch(0.5795 0 0);
  --accent: oklch(0.8863 0.0681 116.8211);
  --accent-foreground: oklch(0.3211 0 0);
  --destructive: oklch(0.7648 0.0695 65.0166);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.5880 0.0891 15.4873);
  --input: oklch(0.9189 0 0);
  --ring: oklch(0.6729 0.0808 19.3970);
  --chart-1: oklch(0.6729 0.0808 19.3970);
  --chart-2: oklch(0.7080 0.0549 264.6576);
  --chart-3: oklch(0.8863 0.0681 116.8211);
  --chart-4: oklch(0.7733 0.0579 18.4850);
  --chart-5: oklch(0.5844 0.0973 21.2727);
  --sidebar: oklch(0.8780 0.0269 11.9221);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.6133 0.1116 21.5278);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7937 0.0587 15.7943);
  --sidebar-accent-foreground: oklch(0.3211 0 0);
  --sidebar-border: oklch(0.9180 0.0412 325.9067);
  --sidebar-ring: oklch(0.6133 0.1116 21.5278);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.175rem;
  --shadow-x: 1px;
  --shadow-y: 1px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1.0;
  --shadow-color: #ac686c;
  --shadow-2xs: 1px 1px 0px 0px hsl(356.4706 29.0598% 54.1176% / 0.50);
  --shadow-xs: 1px 1px 0px 0px hsl(356.4706 29.0598% 54.1176% / 0.50);
  --shadow-sm: 1px 1px 0px 0px hsl(356.4706 29.0598% 54.1176% / 1.00), 1px 1px 2px -1px hsl(356.4706 29.0598% 54.1176% / 1.00);
  --shadow: 1px 1px 0px 0px hsl(356.4706 29.0598% 54.1176% / 1.00), 1px 1px 2px -1px hsl(356.4706 29.0598% 54.1176% / 1.00);
  --shadow-md: 1px 1px 0px 0px hsl(356.4706 29.0598% 54.1176% / 1.00), 1px 2px 4px -1px hsl(356.4706 29.0598% 54.1176% / 1.00);
  --shadow-lg: 1px 1px 0px 0px hsl(356.4706 29.0598% 54.1176% / 1.00), 1px 4px 6px -1px hsl(356.4706 29.0598% 54.1176% / 1.00);
  --shadow-xl: 1px 1px 0px 0px hsl(356.4706 29.0598% 54.1176% / 1.00), 1px 8px 10px -1px hsl(356.4706 29.0598% 54.1176% / 1.00);
  --shadow-2xl: 1px 1px 0px 0px hsl(356.4706 29.0598% 54.1176% / 2.50);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2210 0.0217 276.4640);
  --foreground: oklch(0.8977 0.0133 23.2074);
  --card: oklch(0.2596 0.0227 277.3126);
  --card-foreground: oklch(0.8977 0.0133 23.2074);
  --popover: oklch(0.2596 0.0227 277.3126);
  --popover-foreground: oklch(0.8977 0.0133 23.2074);
  --primary: oklch(0.8863 0.0681 116.8211);
  --primary-foreground: oklch(0.2210 0.0217 276.4640);
  --secondary: oklch(0.7807 0.0350 43.4482);
  --secondary-foreground: oklch(0.2210 0.0217 276.4640);
  --muted: oklch(0.2615 0.0055 286.0103);
  --muted-foreground: oklch(0.7807 0.0350 43.4482);
  --accent: oklch(0.6645 0.0439 29.5305);
  --accent-foreground: oklch(0.8977 0.0133 23.2074);
  --destructive: oklch(0.6378 0.0923 18.1998);
  --destructive-foreground: oklch(0.2210 0.0217 276.4640);
  --border: oklch(0.3546 0.0294 282.1447);
  --input: oklch(0.2760 0.0224 277.4314);
  --ring: oklch(0.5696 0.0520 255.4724);
  --chart-1: oklch(0.5696 0.0520 255.4724);
  --chart-2: oklch(0.7807 0.0350 43.4482);
  --chart-3: oklch(0.6645 0.0439 29.5305);
  --chart-4: oklch(0.3381 0.0509 264.1644);
  --chart-5: oklch(0.2615 0.0055 286.0103);
  --sidebar: oklch(0.2040 0.0200 280.0183);
  --sidebar-foreground: oklch(0.9288 0.0040 286.3212);
  --sidebar-primary: oklch(0.6133 0.1116 21.5278);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7937 0.0587 15.7943);
  --sidebar-accent-foreground: oklch(0.2626 0.0223 288.5797);
  --sidebar-border: oklch(0.3556 0.0224 292.2749);
  --sidebar-ring: oklch(0.6133 0.1116 21.5278);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.175rem;
  --shadow-x: 1px;
  --shadow-y: 1px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1.0;
  --shadow-color: #393a4b;
  --shadow-2xs: 1px 1px 0px 0px hsl(236.6667 13.6364% 25.8824% / 0.50);
  --shadow-xs: 1px 1px 0px 0px hsl(236.6667 13.6364% 25.8824% / 0.50);
  --shadow-sm: 1px 1px 0px 0px hsl(236.6667 13.6364% 25.8824% / 1.00), 1px 1px 2px -1px hsl(236.6667 13.6364% 25.8824% / 1.00);
  --shadow: 1px 1px 0px 0px hsl(236.6667 13.6364% 25.8824% / 1.00), 1px 1px 2px -1px hsl(236.6667 13.6364% 25.8824% / 1.00);
  --shadow-md: 1px 1px 0px 0px hsl(236.6667 13.6364% 25.8824% / 1.00), 1px 2px 4px -1px hsl(236.6667 13.6364% 25.8824% / 1.00);
  --shadow-lg: 1px 1px 0px 0px hsl(236.6667 13.6364% 25.8824% / 1.00), 1px 4px 6px -1px hsl(236.6667 13.6364% 25.8824% / 1.00);
  --shadow-xl: 1px 1px 0px 0px hsl(236.6667 13.6364% 25.8824% / 1.00), 1px 8px 10px -1px hsl(236.6667 13.6364% 25.8824% / 1.00);
  --shadow-2xl: 1px 1px 0px 0px hsl(236.6667 13.6364% 25.8824% / 2.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
body {
  letter-spacing: var(--tracking-normal);
}

body {
  letter-spacing: var(--tracking-normal);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply text-foreground;
  }
}
